:root {
  --flowstica-webflow-library--white-smoke: #f7f7f7;
  --flowstica-webflow-library--medium-sea-green: #08b54f;
  --flowstica-webflow-library--black: #010b15;
  --flowstica-webflow-library--white: white;
  --deep-violet: #140447;
  --mint-cream: #eef4ed;
  --white: white;
  --black: black;
  --flowstica-webflow-library--black-2: #333;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--white: white;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray900: #101828;
  --untitled-ui--primary300: #d6bbfb;
  --untitled-ui--gray500: #667085;
  --untitled-ui--gray50-2: #f9fafb;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--primary800: #53389e;
  --untitled-ui--primary50: #f9f5ff;
  --bittersweet: #f87666;
  --flowui-component-library--gray-900: #160042;
  --flowui-component-library--gray-100: #f7f9fd;
  --flowui-component-library--grey-300: #e4e6f1;
  --flowui-component-library--gray-200: #f3f5fb;
  --flowui-component-library--white: white;
  --flowui-component-library--gray-700: #282556;
  --color: #e6af2e;
  --dodger-blue: #1e96fc;
  --flowstica-webflow-library--honeydew: #cef0dc;
  --flowui-component-library--gray-500: #6b7094;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 20px;
}

.wbs-menu-button {
  background-color: var(--flowstica-webflow-library--white-smoke);
  border-radius: 10px;
}

.wbs-menu-button.w--open {
  background-color: rgba(20, 4, 71, .75);
}

.wbs-nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.wbs-dropdown-link {
  color: var(--flowstica-webflow-library--black);
  font-size: 16px;
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.wbs-dropdown-link:hover {
  color: var(--flowstica-webflow-library--medium-sea-green);
}

.wbs-dropdown-item {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.wbs-dropdown-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-dropdown-list {
  background-color: var(--flowstica-webflow-library--white);
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 15px 10px;
}

.wbs-nav-burger-menu {
  background-color: var(--flowstica-webflow-library--white);
  border: 1px solid rgba(1, 11, 21, .1);
  border-radius: 10px;
  max-width: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 60px;
  bottom: auto;
  left: auto;
  right: 0%;
}

.wbs-logo {
  height: 2.375rem;
}

.wbs-nav-center-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.wbs-container {
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wbs-navbar-burger {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 15px;
  padding-bottom: 15px;
}

.wbs-section {
  z-index: 1;
  padding: 8.15rem 5%;
  position: relative;
}

.wbs-section.trans {
  z-index: 1;
  filter: blur(6px) saturate(200%);
  background-color: #8da9c4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.wbs-section.alt {
  background-color: #8da9c4;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(108, 67, 240, .31) 50%, rgba(255, 255, 255, 0));
}

.wbs-section.bg-alt {
  background-image: linear-gradient(to bottom, rgba(20, 4, 71, 0), var(--deep-violet) 54%, var(--deep-violet));
}

.wbs-section.bg-alt-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 27%, rgba(140, 168, 196, .3)), linear-gradient(to bottom, var(--deep-violet), var(--deep-violet));
}

.wbs-hero-image {
  border-radius: 10px;
}

.wbs-button-link-icon-image {
  height: 20px;
}

.wbs-button-link-icon {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--flowstica-webflow-library--black);
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-button-black {
  color: var(--deep-violet);
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 30px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-black:hover {
  color: var(--flowstica-webflow-library--white);
  background-color: rgba(20, 4, 71, .7);
}

.wbs-hero-1-button {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.wbs-spacing-30 {
  height: 1.875rem;
}

.wbs-lead-text {
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-lead-text.fade {
  opacity: .8;
}

.wbs-heading-h1 {
  color: var(--mint-cream);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-hero-1 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wbs-feature-title {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.2em;
}

.wbs-feature-icon {
  flex: none;
  height: 40px;
}

.wbs-feature-icon-simple {
  margin-bottom: 20px;
}

.wbs-feature-5-item {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(1, 11, 21, .1);
  border-radius: 10px;
  padding: 0 30px 30px;
  box-shadow: 0 0 rgba(250, 247, 247, 0), 0 0 rgba(250, 247, 247, .03), 0 .1px .1px rgba(250, 247, 247, .04), 0 .3px .3px rgba(250, 247, 247, .043), 0 .9px .7px rgba(250, 247, 247, .043), 0 2px 1.5px rgba(250, 247, 247, .047), 0 4px 3.1px rgba(250, 247, 247, .047), 0 7.6px 5.8px rgba(250, 247, 247, .05), 0 14.2px 10.8px rgba(250, 247, 247, .05), 0 26.6px 20.3px rgba(250, 247, 247, .055), 0 54.3px 41.5px rgba(250, 247, 247, .06);
}

.wbs-feature-5-items {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-footer-link {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.wbs-footer-link:hover, .wbs-footer-link.w--current {
  text-decoration: underline;
}

.wbs-footer-simple-links {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.wbs-footer-logo-big {
  height: 40px;
}

.wbs-footer-logo-simple {
  margin-bottom: 20px;
  text-decoration: none;
}

.wbs-footer-simple {
  text-align: center;
}

.wbs-button-link {
  color: var(--flowstica-webflow-library--black);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-error-message {
  color: #fff;
  text-align: center;
  background-color: #e92222;
  border-radius: 6px;
  padding: 15px 20px;
}

.wbs-success-message {
  color: #fff;
  text-align: center;
  background-color: #03cd69;
  border-radius: 6px;
  padding: 15px;
}

.wbs-form-subscribe-2-input {
  color: var(--flowstica-webflow-library--black);
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 6px;
  height: 3.125rem;
  margin-bottom: 0;
  padding: 10px 20px;
  transition: border .3s ease-in-out;
}

.wbs-form-subscribe-2-input:focus {
  border-color: var(--flowstica-webflow-library--black);
}

.wbs-form-group-alert {
  grid-column-gap: 10px;
  display: flex;
}

.wbs-heading-h5 {
  color: var(--deep-violet);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-cta-2 {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-testimonial-avatar-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.wbs-testimonial-avatar-name-wrap {
  text-align: left;
}

.wbs-blog-avatar-image {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.wbs-testimonial-avatar {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.wbs-testimonial-star-image {
  margin-bottom: 10px;
}

.wbs-testimonial-item {
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 1.875rem;
}

.wbs-testimonials-items {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.wbs-pricing-3-text-white {
  color: var(--flowstica-webflow-library--white);
}

.wbs-button-white {
  background-color: var(--flowstica-webflow-library--white);
  color: var(--flowstica-webflow-library--black);
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-white:hover {
  background-color: var(--flowstica-webflow-library--medium-sea-green);
  color: var(--flowstica-webflow-library--white);
}

.wbs-pricing-3-box-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  margin-top: auto;
  display: flex;
}

.wbs-pricing-3-box-price {
  color: var(--flowstica-webflow-library--white);
  font-size: 22px;
}

.wbs-pricing-3-box-title {
  color: var(--flowstica-webflow-library--white);
}

.wbs-pricing-3-box {
  background-color: #5822d3;
  border-radius: 10px;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  display: flex;
}

.wbs-button-primary-1 {
  color: #230766;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 30px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.wbs-button-primary-1:hover {
  border: 1px solid var(--mint-cream);
  color: var(--mint-cream);
  background-color: rgba(20, 4, 71, .7);
}

.wbs-pricing-3-list-icon {
  height: 20px;
  padding-top: 0;
}

.wbs-pricing-3-list-item {
  grid-column-gap: 10px;
  color: var(--mint-cream);
  align-items: center;
  display: flex;
}

.wbs-pricing-3-list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
}

.wbs-heading-h6 {
  color: var(--mint-cream);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-pricing-3-feature-list {
  border-radius: 10px;
  padding: 30px;
}

.wbs-pricing-3-price-month {
  margin-bottom: 5px;
}

.wbs-pricing-3-price {
  margin-top: 0;
  margin-bottom: 0;
}

.wbs-pricing-3-price-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
}

.wbs-pricing-3-icon {
  height: 150px;
  margin-bottom: 30px;
}

.wbs-pricing-3-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: var(--mint-cream);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.page-wrapper {
  background-color: var(--deep-violet);
  background-image: none;
  position: relative;
}

.logo-text {
  color: var(--mint-cream);
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.logo-text.alt-white {
  color: var(--mint-cream);
}

.body {
  color: var(--mint-cream);
  letter-spacing: .1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.15rem;
}

.icon {
  color: var(--black);
}

.svg-icon-bookmark {
  width: 3rem;
  height: 2.5rem;
}

.svg-icon-bookmark:hover {
  cursor: pointer;
}

.svg-icon-bookmark.fade {
  opacity: .8;
}

.link {
  color: var(--white);
}

.svg-icon-pulse {
  width: 2rem;
  height: 2rem;
}

.svg-icon-pulse:hover {
  cursor: pointer;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  display: flex;
}

.svg-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.svg-icon:hover {
  cursor: pointer;
}

.footer-mini {
  opacity: .7;
  color: var(--mint-cream);
  font-size: .85rem;
}

.section-divider-bae_divider_1707582061261 {
  color: #fff;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(0);
}

.section-divider-bae_position-relative {
  position: relative;
}

.section-divider-bae_divider_1707582077599, .section-divider-bae_divider_1707582079188 {
  color: #120344;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(0);
}

.section-divider-bae_divider_1707582107507 {
  color: #140447;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(0);
}

.div-block-2 {
  height: 48px;
}

.div-block-3 {
  background-color: #2c1e5a;
  position: relative;
  overflow: hidden;
}

.section-divider-bae_divider_1707582267291 {
  color: #140447;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(180deg);
}

.section-divider-bae_divider_1707582369626 {
  color: #140447;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(0);
}

.section-divider-bae_divider_1707582374306 {
  color: #140447;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(180deg);
}

.lottie-animation {
  min-width: 80svw;
  transform: scale(1.3);
}

.section-divider-bae_divider_1707583269215 {
  z-index: 2;
  color: #140447;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotate(0);
}

.section-divider-bae_divider_1707583274255 {
  z-index: 2;
  color: #140447;
  width: 100%;
  height: 24px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.section-divider-bae_divider_1707583724241 {
  z-index: 2;
  color: #140447;
  width: 100%;
  height: 48px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotate(0);
}

.section-divider-bae_divider_1707583809800 {
  color: #8da9c4;
  transform-style: preserve-3d;
  width: 100%;
  height: 24px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotateX(0)rotateY(0)rotateZ(180deg);
}

.section-divider-bae_divider_1707583848093 {
  z-index: 2;
  color: #8da9c4;
  width: 100%;
  height: 24px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.section-divider-bae_divider_1707583905374 {
  color: #140447;
  width: 100%;
  height: 48px;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.paragraph {
  color: var(--deep-violet);
}

.wbs-feature-title-2 {
  letter-spacing: .2px;
  margin-top: 0;
  font-size: 1.15rem;
  line-height: 1.2em;
}

.wbs-feature-icon-2 {
  flex: none;
  height: 40px;
}

.wbs-feature-icon-simple-2 {
  margin-bottom: 20px;
}

.wbs-feature-item {
  text-align: center;
  background-image: radial-gradient(circle, rgba(213, 208, 223, .08) 35%, rgba(255, 255, 255, 0) 40%);
}

.wbs-feature-items {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-container-2 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-2 {
  z-index: 1;
  padding: 6.25rem 5%;
  position: relative;
}

.wbs-hero-image-2 {
  border-radius: 10px;
  box-shadow: 0 0 rgba(106, 43, 176, 0), 0 .4px rgba(106, 43, 176, .035), 0 .8px rgba(106, 43, 176, .047), 0 1.4px .1px rgba(106, 43, 176, .055), 0 2px .1px rgba(106, 43, 176, .06), 0 2.9px .3px rgba(106, 43, 176, .063), 0 4px .6px rgba(106, 43, 176, .067), 0 5.6px .9px rgba(106, 43, 176, .067), 0 7.7px 1.5px rgba(106, 43, 176, .07), 0 10.6px 2.3px rgba(106, 43, 176, .07), 0 14.6px 3.5px rgba(106, 43, 176, .075), 0 19.9px 5.1px rgba(106, 43, 176, .075), 0 27.3px 7.4px rgba(106, 43, 176, .075), 0 37.4px 10.6px rgba(106, 43, 176, .075), 0 51.5px 15.1px rgba(106, 43, 176, .08), 0 71.9px 21.6px rgba(106, 43, 176, .08), 0 102.6px 31.5px rgba(106, 43, 176, .082), 0 152.7px 47.8px rgba(106, 43, 176, .086), 0 249.7px 79.4px rgba(106, 43, 176, .09);
}

.wbs-button-link-icon-image-2 {
  color: var(--mint-cream);
  -webkit-text-stroke-color: var(--mint-cream);
  height: 20px;
}

.wbs-button-link-icon-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--flowstica-webflow-library--black);
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-button-black-2 {
  background-color: var(--flowstica-webflow-library--black);
  color: var(--flowstica-webflow-library--white);
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-black-2:hover {
  background-color: var(--flowstica-webflow-library--black-2);
  color: var(--flowstica-webflow-library--white);
}

.wbs-hero-1-button-3 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  display: flex;
}

.wbs-spacing-31 {
  height: 1.875rem;
}

.wbs-lead-text-2 {
  color: var(--deep-violet);
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-lead-text-2.fade {
  opacity: .8;
  color: var(--mint-cream);
}

.wbs-heading-h1-2 {
  color: var(--mint-cream);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-hero-1-content-2 {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wbs-hero-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wbs-container-3 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-3 {
  z-index: 1;
  background-image: none;
  padding: 6.25rem 5%;
  position: relative;
}

.text-block {
  color: var(--mint-cream);
}

.bg-img {
  z-index: 0;
  opacity: .14;
  filter: blur(2px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wbs-menu-button-2 {
  background-color: var(--flowstica-webflow-library--white-smoke);
  border-radius: 10px;
}

.wbs-menu-button-2.w--open {
  background-color: var(--flowstica-webflow-library--medium-sea-green);
}

.wbs-button-primary-2 {
  background-color: var(--mint-cream);
  color: var(--deep-violet);
  text-align: center;
  border-radius: 6px;
  padding: 13px 30px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.wbs-button-primary-2:hover {
  background-color: var(--deep-violet);
  color: var(--mint-cream);
}

.wbs-nav-right {
  display: none;
}

.wbs-nav-link-2 {
  color: var(--mint-cream);
  border: 2px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(20, 4, 71, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}

.wbs-nav-link-2:hover {
  border-bottom: 2px solid var(--mint-cream);
}

.wbs-nav-link-2:active {
  border: 1.5px dashed var(--mint-cream);
}

.wbs-dropdown-link-2 {
  color: var(--flowstica-webflow-library--black);
  font-size: 16px;
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.wbs-dropdown-link-2:hover {
  color: var(--flowstica-webflow-library--medium-sea-green);
}

.wbs-dropdown-list-2 {
  background-color: var(--flowstica-webflow-library--white);
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 15px 10px;
}

.wbs-nav-menu {
  margin-left: auto;
}

.wbs-logo-2 {
  height: 2.375rem;
}

.wbs-nav-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  display: flex;
}

.wbs-navbar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 15px;
  padding-bottom: 15px;
}

.wbs-section-4 {
  padding: 6.25rem 5%;
}

.plan-list-style {
  opacity: .7;
  letter-spacing: .3px;
  font-size: 1.05rem;
  font-weight: 300;
}

.dog-ani {
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.schedule-main {
  background-color: #101010;
  flex-direction: column;
  overflow: hidden;
}

.code-wrap {
  background-color: #101010;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: fixed;
  top: 30px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-4 {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
  display: flex;
}

.section-divider-bae_divider_1708434599094 {
  color: #140447;
  width: 100%;
  height: 48px;
  position: absolute;
  top: -1px;
  bottom: auto;
  left: 0;
  overflow: hidden;
  transform: rotate(0);
}

.div-block-5 {
  z-index: 10;
  -webkit-backdrop-filter: invert();
  backdrop-filter: invert();
  min-width: 100%;
  min-height: 100%;
  display: none;
  position: absolute;
}

.lottie-animation-2 {
  z-index: 1000;
  background-color: #e7f7b5;
  width: 100%;
  height: 100%;
  position: fixed;
}

.wbs-step-simple-title {
  color: var(--mint-cream);
  font-size: 20px;
}

.wbs-step-simple-number {
  color: var(--deep-violet);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
}

.wbs-step-simple-number-wrap {
  background-color: var(--mint-cream);
  color: var(--flowstica-webflow-library--medium-sea-green);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wbs-step-simple-item {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.wbs-steps-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-container-4 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-5 {
  padding: 6.25rem 5%;
}

.step-para {
  opacity: .8;
  font-weight: 300;
}

.div-block-6 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.responsive-ani {
  opacity: .35;
  max-width: 275px;
  max-height: 275px;
}

.process-animation {
  opacity: .48;
}

.uui-text-style-link {
  color: var(--untitled-ui--gray600);
  text-decoration: underline;
  transition: color .3s;
}

.uui-text-style-link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-text-size-small {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-button {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button.is-button-small {
  grid-column-gap: .5rem;
  padding: .5rem 1rem;
}

.uui-form_input {
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray900);
  border-radius: .5rem;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-form_input:focus {
  border-color: var(--untitled-ui--primary300);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
  color: var(--untitled-ui--gray900);
}

.uui-form_input::placeholder {
  color: var(--untitled-ui--gray500);
}

.uui-blogpost04_form-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.uui-blogpost04_form {
  margin-bottom: 0;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-text-size-medium {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-heading-xsmall {
  color: var(--untitled-ui--gray900);
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.uui-space-medium {
  width: 100%;
  min-height: 2rem;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-featured-large {
  background-color: var(--untitled-ui--primary100);
  color: var(--untitled-ui--primary600);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.uui-blogpost04_newsletter {
  background-color: var(--untitled-ui--gray50-2);
  border-radius: 1rem;
  padding: 2rem 2rem 2.5rem;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.uui-text-rich-text {
  color: var(--untitled-ui--gray600);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.uui-text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.uui-text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.uui-text-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.uui-text-rich-text h4 {
  color: var(--flowstica-webflow-library--white-smoke);
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.uui-text-rich-text h5, .uui-text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.uui-text-rich-text p {
  color: var(--mint-cream);
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.uui-text-rich-text blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-style: italic;
}

.uui-text-rich-text a {
  text-decoration: underline;
}

.uui-text-rich-text figcaption {
  color: var(--untitled-ui--gray500);
  text-align: left;
  margin-top: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
}

.uui-blogpost04_content {
  margin-bottom: 4rem;
}

.uui-blogpost04_content-wrapper {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-button-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  display: flex;
}

.uui-button-icon.text-color-gray400 {
  color: var(--untitled-ui--gray400);
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-secondary-gray:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-button-secondary-gray.is-button-small {
  grid-column-gap: .5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.uui-button-secondary-gray.is-button-small.icon-only {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.uui-button-secondary-gray.icon-only {
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  display: flex;
}

.uui-blogpost04_share {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-items: start;
  display: grid;
}

.uui-blogpost04_author-text {
  color: var(--untitled-ui--gray600);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.uui-blogpost04_author-subheading {
  color: var(--untitled-ui--primary600);
  letter-spacing: normal;
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 600;
}

.uui-blogpost04_author-content {
  margin-right: 4rem;
}

.uui-blogpost04_author-wrapper {
  align-items: center;
  display: flex;
}

.uui-blogpost04_content-top {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
}

.uui-blogpost04_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-blogpost04_image-wrapper {
  width: 100%;
  margin: 4rem auto 2rem;
  padding-top: 40%;
  position: relative;
  overflow: hidden;
}

.uui-text-size-xlarge {
  color: var(--mint-cream);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-heading-large {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-blogpost04_title-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-blogpost04_read-time {
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
}

.uui-blogpost04_category-link {
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--primary700);
  border-radius: 1rem;
  align-items: center;
  padding: .125rem .5rem;
  font-size: .75rem;
  font-weight: 500;
  transition: all .3s;
  display: flex;
}

.uui-blogpost04_category-link:hover {
  color: var(--untitled-ui--primary800);
}

.uui-blogpost04_meta-wrapper {
  background-color: var(--untitled-ui--primary50);
  color: var(--untitled-ui--primary700);
  mix-blend-mode: multiply;
  border-radius: 10rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  display: flex;
}

.uui-button-link {
  grid-column-gap: .5rem;
  color: var(--untitled-ui--primary700);
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-button-link:hover {
  color: var(--untitled-ui--primary800);
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-blogpost04_header {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-section_blogpost04, .div-block-7 {
  background-color: var(--deep-violet);
}

.paragraph-2 {
  opacity: .7;
  color: var(--mint-cream);
}

.f-paragraph-large {
  opacity: .8;
  color: var(--bittersweet);
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}

.f-h5-heading {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.4;
}

.f-margin-bottom-16 {
  margin-bottom: 16px;
}

.f-feature-icon-wrapper-white {
  background-color: #fff;
  border-radius: 8px;
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
  margin-bottom: 40px;
  padding: 16px;
}

.f-feature-card-filled {
  background-color: var(--flowui-component-library--gray-100);
  border-radius: 12px;
  padding: 32px;
}

.f-grid-three-column {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.f-button-secondary {
  border: 1px solid var(--flowui-component-library--grey-300);
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color .3s, background-color .3s;
  display: flex;
}

.f-button-secondary:hover {
  background-color: var(--flowui-component-library--gray-200);
  border-color: rgba(0, 0, 0, 0);
}

.f-button-neutral {
  background-color: var(--flowui-component-library--gray-900);
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-button-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.f-margin-bottom-32 {
  margin-bottom: 32px;
}

.f-h3-heading {
  color: var(--mint-cream);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.f-heading-detail-small {
  color: var(--bittersweet);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-margin-bottom-12 {
  margin-bottom: 12px;
}

.f-max-width-large {
  max-width: 610px;
}

.f-header-grid-asymmetrical {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
}

.f-margin-bottom-64 {
  margin-bottom: 64px;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large {
  padding: 92px 5%;
  position: relative;
}

.f-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.f-paragraph-regular.f-text-weight-medium {
  opacity: .8;
  color: var(--flowstica-webflow-library--white-smoke);
  font-weight: 400;
}

.f-text-weight-medium {
  font-weight: 500;
}

.f-sub-heading-regular {
  color: var(--color);
  letter-spacing: -.03em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-feature-icon-round {
  background-color: #fff;
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 16px;
  display: flex;
  box-shadow: 23px 23px 48px -8px rgba(22, 0, 66, .04);
}

.f-feature-card-outline {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--flowui-component-library--gray-200);
  border-radius: 12px;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 32px;
  transition: background-color .4s;
  display: flex;
}

.f-feature-card-outline:hover {
  background-color: var(--dodger-blue);
}

.f-feature-card-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.f-margin-bottom-65 {
  margin-bottom: 16px;
}

.f-title-wrapper-center {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-margin-bottom-66 {
  margin-bottom: 64px;
}

.f-margin-bottom-67 {
  margin-bottom: 16px;
}

.f-margin-bottom-68 {
  margin-bottom: 32px;
}

.f-margin-bottom-69 {
  margin-bottom: 12px;
}

.f-margin-bottom-70 {
  margin-bottom: 64px;
}

.uui-layout09_lightbox-image {
  border: .25rem solid var(--untitled-ui--gray900);
  object-fit: cover;
  border-radius: .5rem;
}

.uui-lightbox_play-icon {
  z-index: 2;
  -webkit-backdrop-filter: saturate(150%) blur(12px);
  backdrop-filter: saturate(150%) blur(12px);
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  position: absolute;
}

.lightbox_video-overlay-layer {
  z-index: 1;
  background-color: rgba(29, 41, 57, .1);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-layout09_lightbox {
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.uui-button-2 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-2:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-2:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-secondary-gray-2 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-secondary-gray-2:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray-2:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-button-row-2 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-text-size-large {
  opacity: .7;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-text-size-large.alt-col {
  color: var(--bittersweet);
}

.uui-icon-1x1-xsmall-2 {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-layout09_item-icon-wrapper {
  align-self: flex-start;
  margin-right: .75rem;
}

.uui-layout09_item {
  display: flex;
}

.uui-layout09_item-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: grid;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium {
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-heading-subheading {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-layout09_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  color: var(--mint-cream);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-padding-vertical-xhuge-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sub-button-text {
  opacity: .7;
  font-size: .7rem;
}

.side-box {
  width: 100%;
  position: relative;
}

.cal-popup {
  display: none;
}

@media screen and (max-width: 991px) {
  .wbs-menu-button {
    background-color: var(--flowstica-webflow-library--white-smoke);
    border-radius: 10px;
    margin-left: auto;
    padding: 15px;
  }

  .wbs-menu-button.w--open {
    background-color: var(--flowstica-webflow-library--medium-sea-green);
  }

  .wbs-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-section.alt {
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
  }

  .wbs-heading-h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
  }

  .wbs-hero-1 {
    grid-template-columns: 1fr;
  }

  .wbs-feature-5-items {
    grid-template-columns: 1fr 1fr;
  }

  .wbs-cta-2 {
    max-width: 90%;
  }

  .wbs-testimonial-avatar {
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .wbs-testimonials-items {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .wbs-pricing-3-wrap {
    grid-template-columns: 1fr;
  }

  .wbs-section-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-heading-h1-2 {
    font-size: 3.2rem;
    line-height: 1.2em;
  }

  .wbs-hero-2 {
    grid-template-columns: 1fr;
  }

  .wbs-section-3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-menu-button-2 {
    background-color: var(--flowstica-webflow-library--white-smoke);
    border-radius: 10px;
    margin-left: auto;
    padding: 15px;
  }

  .wbs-menu-button-2.w--open {
    background-color: var(--flowstica-webflow-library--medium-sea-green);
  }

  .wbs-nav-right {
    display: none;
  }

  .wbs-nav-link-2 {
    color: var(--deep-violet);
  }

  .wbs-nav-menu {
    background-color: var(--flowstica-webflow-library--white);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wbs-section-4 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .icon-2 {
    color: var(--deep-violet);
  }

  .wbs-step-simple-item {
    padding-left: 0;
    padding-right: 0;
  }

  .wbs-steps-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wbs-section-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .uui-blogpost04_newsletter {
    position: static;
  }

  .uui-blogpost04_content {
    margin-bottom: 3rem;
  }

  .uui-blogpost04_content-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-blogpost04_image-wrapper {
    margin-bottom: 3rem;
    padding-top: 56.25%;
  }

  .uui-heading-large {
    font-size: 2.75rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .f-grid-three-column {
    grid-template-columns: 1fr 1fr;
  }

  .f-header-grid-asymmetrical {
    grid-template-columns: 1fr;
  }

  .f-feature-card-outline {
    flex-direction: column;
  }

  .uui-layout09_lightbox-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .uui-layout09_component {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .wbs-dropdown-grid {
    grid-template-columns: 1fr;
  }

  .wbs-section {
    padding: 2rem 2%;
  }

  .wbs-heading-h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
  }

  .wbs-footer-simple-links {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .wbs-footer-logo-big {
    height: 50px;
  }

  .wbs-cta-2 {
    grid-template-columns: 1fr;
  }

  .wbs-testimonial-avatar {
    flex-direction: row;
    align-items: center;
  }

  .wbs-testimonials-items {
    grid-template-columns: 1fr;
  }

  .wbs-feature-items {
    grid-template-columns: 1fr 1fr;
  }

  .wbs-section-2 {
    padding: 2rem 2%;
  }

  .wbs-heading-h1-2 {
    font-size: 2.4rem;
    line-height: 1.1em;
  }

  .wbs-section-3, .wbs-section-4, .wbs-section-5 {
    padding: 2rem 2%;
  }

  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-heading-xsmall {
    font-size: 1.25rem;
  }

  .uui-space-medium {
    min-height: 1.5rem;
  }

  .uui-blogpost04_newsletter {
    padding: 1.5rem 1.5rem 2rem;
  }

  .uui-text-rich-text figure {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .uui-text-rich-text figcaption {
    margin-top: .75rem;
  }

  .uui-blogpost04_content {
    margin-bottom: 2rem;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-blogpost04_author-wrapper {
    margin-bottom: 2rem;
  }

  .uui-blogpost04_content-top {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .uui-blogpost04_image-wrapper {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-heading-large {
    font-size: 2.25rem;
  }

  .uui-blogpost04_category-link {
    padding: .125rem .5rem;
    font-size: .75rem;
  }

  .uui-blogpost04_meta-wrapper {
    margin-top: 2rem;
    font-size: .75rem;
  }

  .uui-button-link {
    font-size: 1rem;
  }

  .uui-button-link:hover {
    color: var(--untitled-ui--primary700);
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .f-grid-three-column {
    grid-template-columns: 1fr;
  }

  .f-h3-heading {
    font-size: 40px;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .uui-lightbox_play-icon {
    width: 4rem;
    height: 4rem;
  }

  .uui-button-2 {
    font-size: 1rem;
  }

  .uui-button-2:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-secondary-gray-2 {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray-2:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-button-row-2 {
    align-self: stretch;
  }

  .uui-button-row-2.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-layout09_item-list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-layout09_component {
    grid-row-gap: 3rem;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .wbs-hero-1-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .wbs-heading-h1 {
    font-size: 2.3rem;
  }

  .wbs-feature-5-items {
    grid-template-columns: 1fr;
  }

  .wbs-footer-simple-links {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .wbs-form-group-alert {
    grid-row-gap: 10px;
    flex-direction: column;
  }

  .wbs-feature-items {
    grid-template-columns: 1fr;
  }

  .wbs-hero-1-button-3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .wbs-heading-h1-2 {
    font-size: 2.3rem;
  }

  .bg-img {
    flex-direction: column;
  }

  .wbs-steps-2 {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .uui-blogpost04_form-wrapper {
    grid-row-gap: 12px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .uui-blogpost04_author-wrapper {
    margin-bottom: 1rem;
  }

  .uui-blogpost04_content-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

#w-node-d792fab9-10cc-2a87-4cb0-385318071246-748ac40c, #w-node-d792fab9-10cc-2a87-4cb0-38531807124d-748ac40c, #w-node-d792fab9-10cc-2a87-4cb0-385318071254-748ac40c, #w-node-d792fab9-10cc-2a87-4cb0-38531807125b-748ac40c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c3bd255c-995e-a2b6-5eb5-4fa8072a7d3b-072a7d37 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: end;
}

#w-node-c3bd255c-995e-a2b6-5eb5-4fa8072a7d4c-072a7d37 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4e49b4c3-8308-bc12-3062-0ca191dddf2a-20eb41ae, #w-node-_4e49b4c3-8308-bc12-3062-0ca191dddf30-20eb41ae, #w-node-_4e49b4c3-8308-bc12-3062-0ca191dddf36-20eb41ae {
  align-self: start;
}
