.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

a {
  text-decoration: none;
}

.lynx-nav-button {
  color: #004023;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background-color: rgba(0, 64, 35, .05);
  border: 2px dashed rgba(0, 64, 35, 0);
  border-radius: 50px;
  padding: 15px 25px;
  font-family: Varela, sans-serif;
  font-size: 13px;
  line-height: 120%;
  text-decoration: none;
  transition: background-color .2s;
}

.lynx-nav-button:hover {
  color: #fff;
  background-color: rgba(0, 64, 35, .8);
}

.lynx-nav-button:active {
  border-color: rgba(255, 255, 255, .75);
}

.lynx-nav-buttons {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  display: flex;
}

.lynx-nav {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lynx-nav-link {
  color: #004023;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  border: 2px dashed rgba(0, 64, 35, 0);
  border-radius: 50px;
  padding: 15px 20px;
  font-family: Varela, sans-serif;
  font-size: 13px;
  line-height: 140%;
  text-decoration: none;
  transition: color .2s;
}

.lynx-nav-link:hover {
  background-color: rgba(0, 64, 35, .05);
}

.lynx-nav-link:active {
  border-color: rgba(0, 64, 35, .75);
}

.lynx-nav-link.variant {
  color: #fff;
  background-color: #004023;
}

.lynx-logo {
  width: 86px;
  height: 42px;
  object-fit: cover;
}

.lynx-brand {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
  display: flex;
}

.lynx-nav-block {
  width: 100%;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.lynx-navbar {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  display: flex;
}

.lynx-button-white {
  color: #004023;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px dashed rgba(255, 255, 255, 0);
  border-radius: 50px;
  padding: 22px 36px;
  font-family: Varela, sans-serif;
  font-size: 13px;
  line-height: 140%;
  text-decoration: none;
  transition: color .2s, background-color .2s;
}

.lynx-button-white:hover {
  color: #fff;
  background-color: rgba(0, 64, 35, .8);
  border-style: solid;
  border-color: rgba(255, 255, 255, .25);
}

.lynx-button-white:active {
  border-color: rgba(255, 255, 255, .75);
}

.lynx-paragraph-white {
  max-width: 460px;
  color: #fff;
  text-shadow: 0 2px 2px #004023;
  margin-bottom: 36px;
  font-family: Varela, sans-serif;
  font-size: 18px;
  line-height: 165%;
}

.lynx-heading-white {
  max-width: 740px;
  color: #fff;
  text-shadow: 0 2px 2px #004023;
  margin-top: 0;
  margin-bottom: 36px;
  font-family: PT Serif, serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 114%;
}

.lynx-subtitle-white {
  color: #fff;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-family: Varela, sans-serif;
  font-size: 12px;
  line-height: 140%;
}

.lynx-block-hero-large {
  width: 50%;
  background-color: rgba(0, 64, 35, .9);
  border: 0 solid rgba(0, 64, 35, .2);
  border-left: 35px solid rgba(0, 64, 35, .9);
  border-radius: 30px 30px 360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: -34px;
  padding: 100px 60px;
  transition: all .2s;
  display: flex;
  box-shadow: 0 5px 20px 4px rgba(255, 255, 141, .27);
}

.lynx-hero-large {
  width: 100%;
  min-height: 600px;
  filter: saturate(135%);
  background-image: url('../images/tarr-farm-richmond-maine.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  box-shadow: 0 16px 12px -13px rgba(0, 64, 35, .55);
}

.lynx-content-hero {
  width: 100%;
  max-height: 100svh;
  max-width: 1392px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.lynx-paragraph-features {
  max-width: 294px;
  color: rgba(0, 64, 35, .7);
  margin-bottom: 0;
  font-family: Varela, sans-serif;
  font-size: 16px;
  line-height: 165%;
}

.lynx-heading-features-small {
  color: #004023;
  text-shadow: 0 1px 1px rgba(0, 64, 35, .24);
  margin-top: 0;
  margin-bottom: 20px;
  font-family: PT Serif, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 128%;
}

.lynx-icon-features-small {
  width: 28px;
  height: 28px;
  display: block;
}

.lynx-block-features-green {
  filter: hue-rotate(40deg);
  background-color: rgba(50, 183, 122, .1);
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 22px;
}

.lynx-features-bg {
  background-color: rgba(0, 64, 35, .05);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  transition: all .4s;
  display: flex;
  box-shadow: 0 10px 15px -10px rgba(0, 64, 35, .47);
}

.lynx-features-bg:hover {
  box-shadow: none;
  border-color: rgba(0, 64, 35, .1);
}

.lynx-block-features-purple {
  filter: hue-rotate(140deg);
  background-color: rgba(137, 121, 236, .1);
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 22px;
}

.lynx-block-features-pink {
  filter: hue-rotate(102deg);
  background-color: rgba(253, 75, 139, .1);
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 22px;
}

.lynx-grid-features {
  width: 100%;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 14px;
}

.lynx-content {
  width: 100%;
  max-width: 1080px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.lynx-client-info {
  color: rgba(0, 64, 35, .75);
  font-family: Varela, sans-serif;
  font-size: 12px;
  line-height: 140%;
}

.lynx-heading-client {
  color: rgba(0, 64, 35, .9);
  margin-top: 0;
  margin-bottom: 2px;
  font-family: PT Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 132%;
}

.lynx-text-client {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 14px;
  display: flex;
}

.lynx-image-client {
  width: 50px;
  height: 50px;
  opacity: .2;
  object-fit: cover;
  border-radius: 50%;
}

.lynx-client {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.lynx-heading-reviews-large {
  color: #004023;
  margin-top: 0;
  margin-bottom: 26px;
  font-family: PT Serif, serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.lynx-icon-reviews {
  width: 72px;
  height: 50px;
  opacity: .75;
  filter: brightness(25%) hue-rotate(233deg);
  margin-right: 30px;
}

.lynx-reviews-large {
  width: 100%;
  max-width: 760px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.spacer-hold {
  height: 200px;
}

.lynx-icon-social {
  width: 18px;
  height: 18px;
  filter: hue-rotate(233deg);
  display: block;
}

.lynx-link-block {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
  display: flex;
  box-shadow: 0 10px 15px -10px rgba(31, 32, 34, .1);
}

.lynx-link-block:hover {
  background-color: rgba(0, 64, 35, .06);
}

.lynx-social {
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  display: none;
}

.lynx-link-footer {
  color: rgba(0, 64, 35, .7);
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-family: Varela, sans-serif;
  font-size: 11px;
  line-height: 140%;
  text-decoration: none;
  transition: color .2s;
}

.lynx-link-footer:hover {
  color: #1f2022;
}

.lynx-logo-footer-center {
  width: 64px;
  margin-left: 30px;
  margin-right: 30px;
}

.lynx-text-footer {
  color: rgba(0, 64, 35, .7);
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-family: Varela, sans-serif;
  font-size: 11px;
  line-height: 140%;
}

.lynx-block-footer-center {
  border-top: 1px solid #dfdad2;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
}

.lynx-footer {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.waves---paragraph-small {
  color: rgba(255, 255, 255, .85);
  font-family: PT Serif, serif;
  font-size: 16px;
  line-height: 130%;
}

.waves---check-icon {
  width: 24px;
  height: 24px;
}

.waves---single-check-item {
  grid-column-gap: 6px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.waves---master-checks-horizontal {
  grid-column-gap: 24px;
  align-items: center;
  display: flex;
}

.waves---mg-top-32 {
  margin-top: 32px;
}

.waves---cta-white {
  height: 52px;
  color: #131313;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---cta-white.wide-cta {
  min-width: 200px;
  color: #004023;
  border: 2px dashed rgba(255, 255, 255, 0);
  font-family: PT Serif, serif;
}

.waves---cta-white.wide-cta:hover {
  color: #fff;
  background-color: #004023;
}

.waves---cta-white.wide-cta:active {
  border-color: rgba(255, 255, 255, .75);
}

.waves---mg-top-16 {
  margin-top: 16px;
}

.waves---paragraph-big {
  color: rgba(255, 255, 255, .85);
  font-family: PT Serif, serif;
  font-size: 20px;
  line-height: 130%;
}

.waves---heading-2-no-margins {
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Serif, serif;
  font-size: 48px;
  line-height: 130%;
}

.waves-content-cta-2 {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves-master-cta-2 {
  color: #fff;
  background-color: rgba(255, 255, 255, .05);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 40px;
  display: flex;
}

.waves---main-container {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-medium {
  background-color: #004023;
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---paragraph-regular {
  color: rgba(0, 64, 35, .8);
  font-family: PT Serif, serif;
  font-size: 18px;
  line-height: 130%;
}

.waves---heading-3-no-margins {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Serif, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.waves-icon-64 {
  width: 200px;
  height: 200px;
  opacity: .04;
  filter: blur(5px);
  border-radius: 20px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(4deg);
}

.waves---mg-bottom-16 {
  margin-bottom: 16px;
}

.waves-tile-contact-3 {
  grid-row-gap: 16px;
  background-color: rgba(0, 64, 35, .04);
  border: 2px solid rgba(0, 64, 35, .08);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.waves-grid-contact-3 {
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.waves---paragraph-big-2 {
  color: rgba(0, 64, 35, .8);
  font-family: PT Serif, serif;
  font-size: 20px;
  line-height: 130%;
}

.waves---heading-2-no-margins-2 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Serif, serif;
  font-size: 48px;
  line-height: 130%;
}

.waves---center-heading {
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves---section-medium-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.body {
  background-color: rgba(0, 64, 35, .02);
}

.waves-icon-24 {
  width: 24px;
  height: 24px;
}

.waves-socials-wrap-team-4 {
  grid-column-gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  display: none;
}

.waves---paragraph-regular-2 {
  color: rgba(0, 64, 35, .7);
  font-family: PT Serif, serif;
  font-size: .9rem;
  line-height: 130%;
}

.waves---paragraph-big-3 {
  color: rgba(0, 64, 35, .8);
  font-family: PT Serif, serif;
  font-size: 20px;
  line-height: 130%;
}

.waves---heading-3-no-margins-2 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Serif, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.waves-name-wrap-team-3 {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves-image-team-3 {
  width: 85px;
  height: 85px;
  opacity: .2;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 50%;
}

.waves-tile-team-3 {
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.waves-grid-team-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.waves---heading-2-no-margins-3 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Serif, serif;
  font-size: 48px;
  line-height: 130%;
}

.waves---section-medium-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---cta-dark {
  height: 52px;
  background-color: #131313;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
}

.waves---cta-dark:hover {
  background-color: rgba(19, 19, 19, .9);
}

.waves---cta-dark.wide-cta {
  min-width: 200px;
}

.waves---mg-top-33 {
  margin-top: 16px;
}

.waves---subtitle {
  color: rgba(0, 64, 35, .8);
  font-size: 24px;
  line-height: 40px;
}

.waves---limit-480 {
  width: 100%;
  max-width: 480px;
}

.waves---mega-heading-1 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  line-height: 115%;
}

.waves-limit-1008 {
  width: 100%;
  max-width: 1008px;
}

.waves-title-line-hero-2 {
  width: 92px;
  height: 12px;
  background-image: linear-gradient(to right, rgba(19, 19, 19, 0), #004023);
  border-radius: 30px;
}

.waves-title-wrap-hero-2 {
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves---main-container-2 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-hero-primary {
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---heading-3-no-margins-3 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.waves-icon-32 {
  width: 32px;
  height: 32px;
}

.waves---mg-bottom-17 {
  margin-bottom: 16px;
}

.waves-tile-feature-1 {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 32px;
  display: flex;
}

.waves-grid-features-1 {
  grid-column-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.waves---heading-2-no-margins-4 {
  color: #004023;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves---sides-heading-button {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.waves---mg-bottom-100 {
  margin-bottom: 100px;
}

.waves---section-medium-4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-block {
  color: rgba(0, 64, 35, .8);
  letter-spacing: .1px;
  font-size: 15px;
}

.text-block-2, .text-block-3, .text-block-4 {
  color: #004023;
}

.waves---paragraph-big-4 {
  color: rgba(255, 255, 255, .8);
  font-size: 20px;
  line-height: 130%;
}

.waves---paragraph-small-2 {
  color: rgba(255, 255, 255, .6);
  font-size: 16px;
  line-height: 130%;
}

.waves-name-wrap-pricing-3 {
  grid-row-gap: 4px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.waves-image-testimonial-pricing-3 {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.waves-circle-testimonial-pricing-3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex: none;
  margin-right: 24px;
  overflow: hidden;
}

.waves-person-wrap-pricing-3 {
  max-width: 480px;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.waves-right-pricing-3 {
  max-width: 480px;
  padding-left: 20px;
  display: none;
}

.waves---cta-white-2 {
  height: 52px;
  color: #004023;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.waves---cta-white-2.dark-var {
  color: #fff;
  background-color: #004023;
}

.waves---mg-top-34 {
  margin-top: 32px;
}

.waves-price-subtext-3 {
  color: rgba(255, 255, 255, .8);
  font-size: 20px;
  line-height: 130%;
}

.waves-text-price-3 {
  font-size: 56px;
  line-height: 130%;
}

.waves-divider-pricing-3 {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .3);
  margin-top: 32px;
  margin-bottom: 24px;
}

.waves-heading-pricing-3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 130%;
}

.waves-left-pricing-3 {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  display: flex;
}

.waves-master-pricing-3 {
  width: 100%;
  max-width: 1080px;
  color: #fff;
  background-color: #004023;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 56px;
  display: flex;
}

.waves---subtitle-2 {
  color: rgba(0, 64, 35, .8);
  font-size: 24px;
  line-height: 40px;
}

.waves---heading-1-no-margins {
  color: #004023;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 120%;
  display: flex;
}

.waves---center-heading-2 {
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.max-lottie-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hor-stack {
  grid-column-gap: 15px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .lynx-menu-button {
    color: #1f2022;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 8px;
    padding: 13px;
    font-size: 20px;
    transition: background-color .2s, color .2s;
    box-shadow: 0 10px 10px -10px rgba(31, 32, 34, .2);
  }

  .lynx-menu-button.w--open {
    color: #fff;
    background-color: #1f2022;
  }

  .lynx-nav-menu {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 10px 15px -10px rgba(31, 32, 34, .1);
  }

  .lynx-heading-white {
    font-size: 48px;
  }

  .lynx-block-hero-large {
    width: 60%;
    border-left-color: rgba(0, 107, 59, 0);
    border-bottom-right-radius: 260px;
    margin-left: -12px;
    padding: 70px 40px;
  }

  .lynx-heading-features-small {
    font-size: 19px;
  }

  .lynx-grid-features {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .lynx-heading-reviews-large {
    font-size: 25px;
  }

  .lynx-reviews-large {
    padding-left: 15px;
    padding-right: 15px;
  }

  .waves-master-cta-2 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .waves-tile-contact-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .waves-grid-contact-3 {
    width: 100%;
    max-width: 400px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .waves-grid-team-3 {
    max-width: 400px;
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .body-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .waves---mega-heading-1 {
    font-size: 72px;
    line-height: 110%;
  }

  .waves---section-hero-primary {
    text-align: center;
  }

  .waves-grid-features-1 {
    grid-template-columns: 1fr 1fr;
  }

  .waves---sides-heading-button {
    grid-row-gap: 32px;
    text-align: center;
    flex-direction: column;
  }

  .waves-name-wrap-pricing-3 {
    text-align: left;
  }

  .waves-right-pricing-3 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .waves-left-pricing-3 {
    text-align: center;
    align-items: center;
  }

  .waves-master-pricing-3 {
    grid-row-gap: 80px;
    flex-direction: column;
  }

  .waves---heading-1-no-margins {
    font-size: 64px;
    line-height: 115%;
  }
}

@media screen and (max-width: 767px) {
  .lynx-heading-white {
    font-size: 40px;
  }

  .lynx-block-hero-large {
    width: 80%;
    margin-bottom: -30px;
  }

  .lynx-hero-large {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .lynx-grid-features {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .lynx-heading-reviews-large {
    font-size: 22px;
  }

  .spacer-hold {
    height: 125px;
  }

  .lynx-block-footer-center {
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .waves---master-checks-horizontal {
    grid-row-gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .waves---heading-2-no-margins {
    font-size: 44px;
    line-height: 125%;
  }

  .waves-master-cta-2 {
    padding: 80px 32px;
  }

  .waves---main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---section-medium {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves---section-medium-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins-3 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves---section-medium-3 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---subtitle {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---mega-heading-1 {
    font-size: 56px;
  }

  .waves---main-container-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---heading-2-no-margins-4 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves---section-medium-4 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves-right-pricing-3 {
    width: 100%;
    max-width: none;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 4px;
    padding: 24px;
  }

  .waves-heading-pricing-3 {
    font-size: 40px;
  }

  .waves-left-pricing-3 {
    width: 100%;
    margin-bottom: 40px;
  }

  .waves-master-pricing-3 {
    grid-row-gap: 64px;
    padding-bottom: 40px;
  }

  .waves---subtitle-2 {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---heading-1-no-margins {
    font-size: 56px;
  }
}

@media screen and (max-width: 479px) {
  .lynx-icon-menu {
    color: #004023;
    font-size: 32px;
  }

  .lynx-nav-buttons {
    display: none;
  }

  .lynx-navbar {
    background-color: rgba(0, 64, 35, .99);
    padding-top: 20px;
    padding-bottom: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .lynx-heading-white {
    font-size: 34px;
  }

  .lynx-block-hero-large {
    width: 100%;
    border-left-width: 0;
    border-radius: 5px;
    margin-bottom: -370px;
    margin-left: 0;
    padding: 25px 30px 50px 20px;
  }

  .lynx-hero-large {
    min-height: 200px;
    border-radius: 5px;
    margin-bottom: 400px;
  }

  .lynx-content-hero {
    padding-left: 0;
    padding-right: 0;
  }

  .lynx-heading-features-small {
    font-size: 18px;
  }

  .lynx-heading-client {
    font-size: 16px;
  }

  .lynx-heading-reviews-large {
    font-size: 21px;
  }

  .lynx-icon-reviews {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .spacer-hold {
    height: 75px;
  }

  .waves---heading-2-no-margins {
    font-size: 34px;
  }

  .waves-master-cta-2 {
    padding: 64px 16px;
  }

  .waves---section-medium {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---heading-3-no-margins {
    font-size: 22px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 34px;
  }

  .waves---section-medium-2 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---heading-3-no-margins-2 {
    font-size: 22px;
  }

  .waves-grid-team-3 {
    grid-row-gap: 80px;
  }

  .waves---heading-2-no-margins-3 {
    font-size: 34px;
  }

  .waves---section-medium-3 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .div-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .waves---subtitle {
    font-size: 20px;
  }

  .waves---mega-heading-1 {
    font-size: 36px;
  }

  .waves---section-hero-primary {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-3-no-margins-3 {
    font-size: 22px;
  }

  .waves-grid-features-1 {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .waves---heading-2-no-margins-4 {
    font-size: 34px;
  }

  .waves---section-medium-4 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .text-block {
    font-size: 15px;
  }

  .waves-name-wrap-pricing-3 {
    align-items: center;
  }

  .waves-circle-testimonial-pricing-3 {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .waves-person-wrap-pricing-3 {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .waves-right-pricing-3 {
    text-align: center;
    padding: 22px 16px;
  }

  .waves-text-price-3 {
    font-size: 32px;
  }

  .waves-heading-pricing-3 {
    font-size: 28px;
  }

  .waves-left-pricing-3 {
    text-align: center;
    align-items: center;
  }

  .waves-master-pricing-3 {
    grid-row-gap: 16px;
    padding: 32px 24px;
  }

  .waves---subtitle-2 {
    font-size: 20px;
  }

  .waves---heading-1-no-margins {
    font-size: 36px;
    line-height: 110%;
  }
}

#w-node-_5c052136-3488-188c-f64a-85860a09306d-bdb1a46c, #w-node-_5c052136-3488-188c-f64a-85860a093074-bdb1a46c, #w-node-_5c052136-3488-188c-f64a-85860a09307d-bdb1a46c, #w-node-_55b78da0-8b3c-6b68-4b9e-092799e2278b-bdb1a46c, #w-node-_55b78da0-8b3c-6b68-4b9e-092799e2279d-bdb1a46c, #w-node-_55b78da0-8b3c-6b68-4b9e-092799e227af-bdb1a46c, #w-node-e75ea13b-0761-7e0d-f929-dbc531e812ee-bdb1a46c, #w-node-_6de15373-3a3c-7d00-1536-6711b8a39072-bdb1a46c, #w-node-e9e86505-173d-38f8-ff73-1af6e6c62310-bdb1a46c, #w-node-_365ec93f-1c16-dcb4-e2b4-6a13cc73d7eb-e6cca737, #w-node-_365ec93f-1c16-dcb4-e2b4-6a13cc73d7e4-e6cca737, #w-node-_365ec93f-1c16-dcb4-e2b4-6a13cc73d7dd-e6cca737, #w-node-_365ec93f-1c16-dcb4-e2b4-6a13cc73d7f2-e6cca737, #w-node-_3039a15f-4eb4-3afa-a29b-418cd32a3b63-e6cca737, #w-node-_16e0f4f9-b23b-e33d-f3b4-971ce9616c05-e6cca737, #w-node-c38eeccd-53be-75b5-0c97-8436dc815185-e6cca737 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


